* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-size: 100px;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: url("gambar/garry.png");
    background-color: midnightblue;
    font-size: larger;
    image-rendering: pixelated;
    text-shadow: 2px 2px 2px red;
    color: yellow;
}
#Welcome {
    color: cyan;
    text-shadow: 2px 2px magenta;
    font-size: 40px;
    font-weight: bold;
}
td>a {
    border: 2px inset cyan;
    border-radius: 5px;
    padding-block: 5px;
    padding-inline: 5px;
    line-height: 2px;
}
p {
    width: 700px;
}
a {
    text-shadow: 2px 2px black;
}
a:link {
    color: cyan;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
a:active {
    color: blue;
}
a:visited {
    color: magenta;
}
.spinimg {
  animation: scaleImageBackAndForth 2s linear infinite;
}

@keyframes scaleImageBackAndForth {
  0% { transform: scale(1);}
  50% { transform: scale(1.2);}
  100% { transform: scale(1);}
}